/*Configuração da pagina */
body{
  /*Mudando cores */
  background-image: linear-gradient(45deg, tomato,white);
  font-family: Arial, Helvetica, sans-serif;
}

 /*Configurando div contendo busa e pesquqisa de nome e telefone de usuarios*/
div{
  background-color: rgba(0, 0, 0, 0.20);
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 80px;
  border-radius: 15px;
  color: white;
}
 /*configurando  os input */
input{

  padding: 15px;
  border: none;
  outline: none;
  font-size: 15px;

}
 /*Configurando o botão de pesquisar */
 button{

  background-color:  rgb(167, 37, 14);
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  color: white;

 }

 button:hover{
  background-color: rgb(185, 81, 62);
  cursor: pointer;
 }




