*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root{
  --primaria:red;
  --segunda: white;
  --terceira: tomato;
  --quarta: rgb(195, 13, 13);
  --quinta:rgb(255, 115, 0);
  --sexta: #6b6767;
}

.container{
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.8),
                                  rgba(255, 255, 255, 0.8),        rgba(255, 255, 255, 0.8),        rgba(255, 255, 255, 0.8),        rgba(255, 255, 255, 0.8),
                                  rgba(255, 0, 0, 0.8)), url(../../assets/img/doar.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerBase{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.containerMeio{
  display: flex;
  height:600px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.containerMeio .btn-box{
  width: 90%;
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn-box a{
  width: 210px;
  height: 35px;
  background: linear-gradient(to right,var(--quinta),var(--primaria),var(--quarta));
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;  
  text-decoration: none;
}

.btn-box a i{
  margin-left: 10px;
}

.btn-box a:hover{
  background: var(--primaria);
} 


.containerSobre{
  display: flex;
  height:650px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.sobreImagem{
  width: 40%;
}

.sobreImagem img{
  width: 90%;
}

.sobreTitulo{
}

.sobreTexto{
  width: 60%;
  text-align: center;
  color: var(--primaria);
}
.sobreDivisor{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.sobreDivisor #divisor{
  width: 70%;
  border-bottom: 1px solid var(--primaria);
}

.SobreSubTexto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SobreSubTexto p{
  width: 80%;
}

.sobreBotao{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#SobreBtnIcon{
  animation: color-change 1s infinite;
}

@keyframes color-change {  
  0% { color: white; }
  20% { color: white; }
  100% { color: red; }
}

#divisor2{
  border-bottom: none;
  border-left: 1px solid var(--primaria);
  height: 20px;
}

.sobreTexto2{
  font-size: 10px;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: inherit;
  top: 0;
  padding: 20px;
}

.menu .logo img{
  width: 8%;
}

.menu .links{
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.links a{
  text-decoration: none;
  padding: 10px ;
  text-align: center;
  border-radius: 30px;
  border: 0;
  outline: none;
  color: var(--primaria);
  cursor: pointer;
  width: 100px;
  margin-left: 5px;
}

.menu a:hover{
  color: var(--segunda);
  background: var(--primaria); 
}

.menu i{
  margin-right: 10px;
}

#btLogin{
  background: linear-gradient(to right,var(--quinta),var(--primaria),var(--quarta));
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
  width: 100px;
}

#btLogin:hover{
  background: var(--primaria);
}

.bannerLateral{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.bannerLateral .title_p{
  color: var(--primaria);
  border-bottom: 1px solid var(--terceira);
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.title_h1{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.title_h1 h1 {
  text-align: left;
  font-size: 52px;
}

.titulo_h4{
  margin-bottom: 10px;
  color: var(--primaria);
  font-size: 24px;
}

.texto{
  margin-top: 10px;
  color: var(--primaria);
  width: 90%;
}

.icone{
  width: 40%;
  margin-left: 40px;
}

.icone img{
  width: 100%;
}

.logo a:hover {
  background: none;
}

.footer{
  display: flex;
  left: 0;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 30px 0px;
}

.footer p{
  color: var(--primaria);
  font-size: 12px;
}